<body>
    {{> header/header-block}}
    <div class="parallaxCont">
        <div class="section" id="aboutCont">
            <h1 id="aboutHeader">About Me</h1>
                     <p>Web developer from Sacramento, CA looking to move up in the tech
          industry and gain full-stack coding experience.</p>
        </div>
    </div>
    <div class="regularCont">
        <h1 id="projectsHeader">Projects</h1>
        <div class="section" id="projectsCont">
        </div>
    </div>
    <div class="parallaxCont" id="contactParallax">
        <div class="section" id="contactCont">
            <form id="contactForm">
                <h1 id="contactHeader">Contact</h1>
                <label for="name">Name</label>
                <input class="formInputs" placeholder="Ex: John Johnson" id="name" />
                <label for="name">Email</label>
                <input class="formInputs" placeholder="Ex: name@email.com" id="email" />
                <label for="name">Message</label>
                <textarea class="formInputs" placeholder="Enter message here..." id="message"></textarea>
                <btn id="submitBtn" type="submit">Submit</btn>
            </form>
        </div>
    </div>
    {{> footer/footer-block}}
</body>