<body>
    {{> header/header-block}}
    <div class="parallaxCont">
        <div class="section" id="aboutCont">
            <h1 id="aboutHeader">About Me</h1>
            <p>Fast-learning web developer based in Sacramento. I love working with new technology and creating
                simplistic & efficient user experiences.</p>
        </div>
    </div>
    <div class="regularCont">
        <h1 id="projectsHeader">Projects</h1>
        <div class="section" id="projectsCont">
        </div>
    </div>
    <div class="parallaxCont" id="contactParallax">
        <div class="section" id="contactCont">
            <form id="contactForm" method="POST" action="send">
                <h1 id="contactHeader">Contact</h1>
                {{msg}}
                <label for="name">Name</label>
                <input class="formInputs" placeholder="Ex: John Johnson" id="name" />
                <label for="name">Email</label>
                <input class="formInputs" placeholder="Ex: name@email.com" id="email" />
                <label for="name">Message</label>
                <textarea class="formInputs" placeholder="Enter message here..." id="message"></textarea>
                <button id="submitBtn" type="submit">Send</button>
            </form>
        </div>
    </div>
    {{> footer/footer-block}}
</body>