<body>
    {{> header/header-block}}
    <div class="parallaxCont">
        <div class="section">
        </div>
    </div>
    <div class="regularCont">
        <div class="section">
        </div>
    </div>
    <div class="parallaxCont">
        <div class="section">
            <form id="contactForm">
                <label for="name">Name</label>
                <input class="formInputs" placeholder="Ex: John Johnson" id="name" />
                <label for="name">Email</label>
                <input class="formInputs" placeholder="Ex: name@email.com" id="email" />
                <label for="name">Message</label>
                <textarea class="formInputs" placeholder="Enter message here..." id="message"></textarea>
                <btn id="submitBtn" type="submit">Submit</btn>
            </form>
        </div>
    </div>
    {{> footer/footer-block}}
</body>