<body>
    {{> header/header-block}}
    <div class="parallaxCont">
        <div id="backgroundHolder"></div>
        <div class="section" id="aboutCont">
            <h1 id="aboutHeader">About Me</h1>
            <p>Hello! My name is John, but I go by JJ. I am a fast learning web developer based in Sacramento, CA.
                I enjoy using new technology, cooking, and tinkering with computers & cars. Currently, I'm attending
                a full-stack coding bootcamp at UC Davis and creating lots of great web applications with a variety of
                widely
                used web developement languages. Check out some of my projects below and do not hesitate to get in
                contact if you would
                like to work with me, I am always looking to expand my network!
            </p>
            {{!-- <img id="personalPhoto" src="images/linkedinpic.jpg"> --}}
        </div>
    </div>
    <img src="images/resumeicon.png" style="height:50px;" alt="">
    <div class="regularCont">
        <div class="section" id="projectsCont">
            <h1 id="projectsHeader">Projects</h1>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="glideCard" id="TSNCard">
                                <h id="glideCardH">The Social Network</h>
                                <div class="projectBtns">
                                    <a class="pbtn" href="https://github.com/Guhuyan/Project-2">Code</a>
                                    <a class="pbtn" href="https://tranquil-wave-24974.herokuapp.com/">Demo</a>
                                    <btn class="pbtn" id="TSNInfo">Info</btn>
                                </div>
                                <div class="projectDesc" id="TSNI">Node-Express application where users can create an
                                    account/login, make posts which display on the dashboard, and chat in real time. I
                                    worked on the live chat room, created sequelize models, pulled data from the
                                    database for dynamic rendering, and converted the initial front end html into
                                    handlebars
                                    templates.

                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glideCard" id="EDBCard">
                                <h id="glideCardH">Eat Da Burger</h>
                                <div class="projectBtns">
                                    <a class="pbtn" href="https://github.com/jjmateer/Burger">Code</a>
                                    <a class="pbtn" href="https://eat-da-burger22.herokuapp.com/">Demo</a>
                                    <btn class="pbtn" id="EDBInfo">Info</btn>
                                </div>
                                <div class="projectDesc" id="EDBI">Node-express application which allows users to post
                                    burgers
                                    and devour them. This app uses a mySQL database with an ORM to store
                                    burgers and dynamically render them with handlebars.
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glideCard" id="GSCard">
                                <h id="glideCardH">Giphy Search</h>
                                <div class="projectBtns">
                                    <a class="pbtn" href="https://github.com/jjmateer/Giphy-Search">Code</a>
                                    <a class="pbtn" href="https://jjmateer.github.io/Giphy-Search/">Demo</a>
                                    <btn class="pbtn" id="GSInfo">Info</btn>
                                </div>
                                <div class="projectDesc" id="GSI">Application which allows users to search for gifs and
                                    play/stop them. This app uses jQuery to render a button with the user's search and
                                    uses that term to search the Giphy API and render the first 25 results to the page.

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button id="glideControls" class="glide__arrow glide__arrow--left" data-glide-dir="<">
                        <<<</button> <button id="glideControls" class="glide__arrow glide__arrow--right"
                            data-glide-dir=">">>>>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="parallaxCont" id="contactParallax">
        <div class="section" id="contactCont">
            <form id="contactForm" method="POST" action="send">
                <h1 id="contactHeader">Contact</h1>
                <label for="name">Name</label>
                <input class="formInputs" placeholder="Ex: John Johnson" id="name" />
                <label for="name">Email</label>
                <input class="formInputs" placeholder="Ex: name@email.com" id="email" />
                <label for="name">Message</label>
                <textarea class="formInputs" placeholder="Enter message here..." id="message"></textarea>
                <button id="submitBtn" type="submit">Send</button>
            </form>
        </div>
    </div>
    {{> footer/footer-block}}
</body>