<body>
    {{> header/header-block}}
    <div class="parallaxCont" id="parallax1">
        <div class="section">
        </div>
    </div>
    <div class="regularCont">
        <div class="section">
        </div>
    </div>
    <div class="parallaxCont" id="parallax2"  id="parallax1">
        <div class="section">
        </div>
    </div>
        {{> footer/footer-block}}
</body>