<body>
    {{> header/header-block}}
    <div class="parallaxCont">
        <div class="section" id="aboutCont">
            <h1 id="aboutHeader">About Me</h1>
            <p>Hello! My name is John, but I go by JJ. I am a fast learning web developer based in Sacramento, CA.
                I enjoy using new technology, cooking, and tinkering with computers & cars. Currently, I'm attending
                a full-stack coding bootcamp at UC Davis and creating lots of great web applications with a variety of widely
                used web developement languages. Check out some of my projects below and do not hesitate to get in contact if you would
                like to work with me, I am always looking to expand my network!
            </p>
        </div>
    </div>
    <div class="regularCont">
        <h1 id="projectsHeader">Projects</h1>
        <div class="section" id="projectsCont">
        </div>
    </div>
    <div class="parallaxCont" id="contactParallax">
        <div class="section" id="contactCont">
            <form id="contactForm" method="POST" action="send">
                <h1 id="contactHeader">Contact</h1>
                {{msg}}
                <label for="name">Name</label>
                <input class="formInputs" placeholder="Ex: John Johnson" id="name" />
                <label for="name">Email</label>
                <input class="formInputs" placeholder="Ex: name@email.com" id="email" />
                <label for="name">Message</label>
                <textarea class="formInputs" placeholder="Enter message here..." id="message"></textarea>
                <button id="submitBtn" type="submit">Send</button>
            </form>
        </div>
    </div>
    {{> footer/footer-block}}
</body>