* {
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive;
}
#navBar {
  width: 100%;
  position: fixed;
  height: 10vh;
  background: white;
  top:0;
  display:flex;
  z-index:10;
}
#logo{
  width:70vw;
  height:10vh;
  padding-left:10vw;
  line-height:10vh;
}
#navMenu{
  margin-right:5vw;
  width:15vw;
  height:10vh;
  display:flex;

}
.navBtn{
  width:20%;
  height:5vh;
  text-align: center;
  line-height: 5vh;
  margin:auto;
  cursor:pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#githubBtn{
  border-radius: 50%;
}
.section {
  width: 100%;
  height: 90vh;
  background-color: lightgray;
  margin-top: 10vh;
  padding: auto;
}
.mainH{
  font-size:75px;
  text-align:center;
  width:100%;
  height:5vh;
  margin-bottom:10vh;
}
#intro{
  width:80%;
  height:60%;
  padding:5px;
  font-size:5vh;
  margin:auto;
  background-color:gray;
}
.glide{
  width:100%;
  height:100%;
}
.glideCard{
  height:50vh;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-repeat:no-repeat;
}
.glideCardH{
  display:block;
  font-size:5vh;
  width:100%;
  text-align:center;
  background:white;
}
.projectBtns{
  margin-top:5vh;
  display:flex;
  width:100%;
}
.pbtn{
  width:33%;
  height:4vh;
  background-color:gray;
  margin:auto;
  line-height:100%;
  text-align:center;
  font-size:200%;
  text-decoration: none;
  color:white;
  text-shadow: 1px 1px 5px black;
  cursor: pointer;
}
.projectDesc{
  display:none;
  display:block;
  bottom:0;
  width:100%;
  height:auto;
  font-size:3vh;
  background:white;

}
#TSNCard {
  background-image: url(../images/TSN.png);
}
#EDBCard {
  background-image: url(../images/EDB.png);
}
#GSCard {
  background-image: url(../images/GS.png);
}
#contactform {
  width:100%;
  height:100%;
}
.contactlabels {
  display:block;
  width:100%;
  height:5vh;
  font-size:5vh;
  line-height:100%;
  text-align: center;
  margin-bottom:3vh;
}
.formInputs{
  display:block;
  width:80%;
  height:10%;
  margin:auto;
  margin-bottom:3vh;
}
#submitBtn {
  display:block;
  width:25%;
  margin:auto;
  height:5vh;
  margin-top: 5vh;
  font-size:3vh;
}
@media only screen and (max-width: 1025px) {
  #intro{
    font-size:3vh;
  }
}
@media only screen and (max-width: 600px) {
  #intro{
    font-size:2.5vh;
  }
}