html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  /* height: 250vh; */
  background-color: gray;
}

#topBar {
  height: 10vh;
  width: 100vw;
  position: fixed;
  box-shadow: 0.1vw 0.1vw 2vw #888888;
  background-color: lightgrey;
  display: flex;
  z-index: 6;
}
#logo {
  padding-left: 10vw;
  font-size: 3vw;
  line-height: 100%;
  width: 80vw;
  margin: 0;
}
#navMenu {
  width: 3vw;
  height: 6vh;
  position: relative;
  cursor: pointer;
  display: none;
}
.menuBar {
  width: 100%;
  height: 10%;
  background: black;
  position: absolute;
  border-radius: 10px;
}
#bar1 {
  margin-top: 0.5vw;
}
#bar2 {
  margin-top: 1.5vw;
}
#bar3 {
  margin-top: 2.5vw;
}
html {
  overflow: hidden;
}
body {
  margin: 0;
  font-size: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallaxCont {
  width: 100vw;
  height: 60vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.parallaxCont:before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-image: url("../images/abstract2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}
.regularCont {
  padding-top: 20vh;
  width: 100vw;
  height: 80vh;
  margin-top: 40vh;
  background: lightgray;
  z-index: 2;
  position: relative;
}
.section {
  margin: auto;
  height: 50vh;
  width: 80vw;
  background: #aaa;
  border-radius: 1vh;
}
#contact {
  height: 60vh;
  width: 50vw;
  margin: auto;
  z-index: 10;
  background: darkslategrey;
}
footer {
  position: static;
  margin-top: 70vh;
  height: 30vh;
  width: 100vw;
  background-color: lightgray;
}
#resourcesCont {
  height: 50%;
  width: 50%;
  margin: auto;
  display: flex;
}
#githubBtn {
  margin: auto;
  height: 9vh;
  width: 5vw;
  border-radius:5vw;
  box-shadow: 5px 10px 18px #888888;
}
#resumeBtn {
  margin: auto;
  height: 9vh;
  width: 4vw;
  box-shadow: 5px 10px 18px #888888;
  border-radius:3.5px;
}
#linkedinBtn {
  background:white;
  margin: auto;
  height: 8vh;
  width: 4vw;
  border-radius:10px;
  box-shadow: 5px 10px 18px #888888;
}
#GH-Logo {
  margin: auto;
  margin-top:-3px;
  height: 105%;
  width: 100%;
}
#resIcon {
  margin: auto;
  margin-top:-5px;
  margin-left:-14px;
  height: 110%;
  width: 125%;
  border-radius:3px;
}
#LI-Logo {
  margin: auto;
  height: 101%;
  width: 118.5%;
}
#topBtnCont {
  height: 45%;
  width: 200px;
  margin: auto;
  text-align: center;
  color: black;
  font-size: 30px;  
}
#topPointer {
  display: block;
  margin: auto;
  height: 60%;
  width: 50%;
}
#topPointerBtn{
  z-index:6;
  cursor: pointer;
}
@media only screen and (max-width: 1025px) {
  #logo {
    font-size: 50px;
    margin-top: 3vh;
  }
  #navMenu {
    width: 7vw;
    height: 4vh;
    right: 10;
    top: 25;
    display: initial;
  }
  #navMenu:active {
    transition: 1s;
    opacity: 0;
  }
  .menuBar {
    width: 100%;
    height: 10%;
    border-radius: 15px;
  }
  #bar1 {
    margin-top: 0vh;
  }
  #bar2 {
    margin-top: 2vh;
  }
  #bar3 {
    margin-top: 4vh;
  }
  #resourcesCont {
    width: 70%;
  }
  #githubBtn {
    height: 9vh;
    width: 10vw;
  }
  #resumeBtn {
    height: 9vh;
    width: 8vw;
    border-radius:5px;
  }
  #linkedinBtn {
    background:white;
    height: 9vh;
    width: 9vw;
    border-radius:10px;
  }
  #GH-Logo {
    height: 103%;
    width: 110%;
    margin-left:-3px;
  }
  #resIcon {
    width:140%;
    margin-top:-5px;
    margin-left:-15px;
  }
  #LI-Logo {
    height: 101%;
    width: 130%;
  }
}
@media only screen and (max-width: 600px) {
  #logo {
    margin-top: 2.5vh;
    font-size: 35px;
  }
  #navMenu {
    width: 10vw;
    height: 4vh;
    right: 10;
    top: 25;
  }
  .sections {
    width:100vw;
  }
  #resourcesCont {
    width: 100%;
  }
  #githubBtn {
    height: 11vh;
    width: 20vw;
    border-radius:50px;
  }
  #resumeBtn {
    height: 11vh;
    width: 15vw;
    border-radius:5px;
  }
  #linkedinBtn {
    background:white;
    height: 11vh;
    width: 18vw;
    border-radius:10px;
  }
  #GH-Logo {
    margin-top:-5px;
    margin-left:-8px;
    height: 105%;
    width: 125%;
  }
  #resIcon {
    width:140%;
    margin-top:-3px;
    margin-left:-12px;
  }
  #LI-Logo {
    height: 105%;
    width: 130%;
  }
}
