@media only screen and (max-width: 1025px) {
  #intro {
    font-size: 3vh;
  }
  .navBtn {
    width: 25%;
    height: 8vh;
    line-height: 100%;
  }
  #logo {
    width: 70vw;
    font-size: 6vh;
  }
  #navMenu {
    width: 20vw;
  }
  .projectDesc {
    font-size: 1.8vh;
  }
}
@media only screen and (max-width: 1368px) {
    #stackIcons {
        display:none;
    }
}
