<footer>
  <h1 class="mainH">Resources</h1>
  {{!-- <div id="resourcesCont">
    <a id="githubBtn" href="https://github.com/jjmateer">
      <img id="GH-Logo" src="images/GH-logo.png" /></a>

    <a id="resumeBtn"
      href="https://docs.google.com/document/d/1dpvMnqxI77f1lAk93FD2M1fggO8PSss92w7QOjpWyg8/edit?usp=sharing">
      <img id="resIcon" src="images/resumeicon.png" /></a>

    <a id="linkedinBtn" href="https://linkedin.com/in/john-mateer">
      <img id="LI-Logo" src="images/LI-in-bug.png" /></a>
  </div> --}}
</footer>