<footer>
  <div id="resourcesCont">
    <a id="githubBtn" href="https://github.com/jjmateer">
      <img id="GH-Logo" src="images/GH-logo.png" /></a>

    <a id="resumeBtn" href="images/resume.pdf">
    <img id="resIcon" src="images/resumeicon.png" /></a>

    <a id="linkedinBtn" href="https://linkedin.com/in/john-mateer">
      <img id="LI-Logo" src="images/LI-in-bug.png" /></a>
  </div>
  <div id="topBtnCont">
    <btn id="topPointerBtn">
      <img id="topPointer" src="images/pointer.png" />
      Top of page
    </btn>

  </div>
</footer>