<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <div class="glideCard" id="TSNCard">
                    <h class="glideCardH">The Social Network</h>
                    <div class="projectBtns">
                        <a class="pbtn" href="https://github.com/Guhuyan/Project-2">Code</a>
                        <a class="pbtn" href="https://tranquil-wave-24974.herokuapp.com/">Demo</a>

                    </div>
                    <div class="projectDesc" id="TSNI">Node-Express application where users can create an
                        account/login, make posts which display on the dashboard, and chat with others. Uses
                        MongoDB to store chatroom messages and MySQL to store user info & posts. Features
                        hashed passwords with bcrypt, real time live chat using socket.io, and persistent
                        login using express-session.
                    </div>
                    <img class="pImg" src="../images/TSN.png">
                </div>
            </li>
            <li class="glide__slide">
                <div class="glideCard">
                    <h class="glideCardH">NYT World News Scraper</h>
                    <div class="projectBtns">
                        <a class="pbtn" href="https://github.com/jjmateer/NYT-Scraper">Code</a>
                        <a class="pbtn" href="https://quiet-shore-70480.herokuapp.com/">Demo</a>

                    </div>
                    <div class="projectDesc" id="NYTSI">
                        Node-Express application which uses cheerio to scrape the world news section of the New York
                        Times website. Stores all of the articles & notes on MongoDB and uses handlebars to dynamically
                        render the information. Users can save articles of their choice, leave notes for them, and
                        retrieve previously deleted notes.
                    </div>
                    <img class="pImg" src="../images/NYTS.png">
                </div>
            </li>
            <li class="glide__slide">
                <div class="glideCard">
                    <h class="glideCardH">Eat Da Burger</h>
                    <div class="projectBtns">
                        <a class="pbtn" href="https://github.com/jjmateer/Burger">Code</a>
                        <a class="pbtn" href="https://eat-da-burger22.herokuapp.com/">Demo</a>

                    </div>
                    <div class="projectDesc" id="EDBI">Node-Express application which allows users to post
                        burgers and devour them. This app uses a mySQL database with an ORM to store
                        burgers and dynamically render them with handlebars.
                    </div>
                    <img class="pImg" src="../images/EDB.png">
                </div>
            </li>
            <li class="glide__slide">
                <div class="glideCard" id="TSNCard">
                    <h class="glideCardH">Your New Friend</h>
                    <div class="projectBtns">
                        <a class="pbtn" href="https://github.com/jjmateer/Node-Express-Friend-Finder">Code</a>
                        <a class="pbtn" href="https://node-express-friend-finder-1.herokuapp.com/">Demo</a>

                    </div>
                    <div class="projectDesc" id="TSNI">This application contains a survey in which users
                        will agree with certain topics from 1-5. There is a list of people in JSON
                        format with an array of scores. The absolute value of the user's score will
                        be compared with everyone in the list and the one with the least difference
                        is your new friend.
                    </div>
                    <img class="pImg" src="../images/YNF.png">
                </div>
            </li>
            <li class="glide__slide">
                <div class="glideCard">
                    <h class="glideCardH">Giphy Search</h>
                    <div class="projectBtns">
                        <a class="pbtn" href="https://github.com/jjmateer/Giphy-Search">Code</a>
                        <a class="pbtn" href="https://jjmateer.github.io/Giphy-Search/">Demo</a>
                    </div>
                    <div class="projectDesc" id="GSI"> This application uses jQuery to render a button with the user's
                        search. When clicked, an AJAX get request is sent to the Giphy API and renders the first 25
                        results to the page.

                    </div>
                    <img class="pImg" src="../images/GS.png">
                </div>
            </li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button id="glideControls" class="glide__arrow glide__arrow--left" data-glide-dir="<">
            LAST</button> <button id="glideControls" class="glide__arrow glide__arrow--right" data-glide-dir=">">NEXT
        </button>
    </div>
</div>