<header id="topBar">
    <h1 id="logo">John Mateer</h1>
    <btn id="navMenu" class="container">
        <div class="menuBar" id="bar1"></div>
        <div class="menuBar" id="bar2"></div>
        <div class="menuBar" id="bar3"></div>
        </ul>
    </btn>
    <nav id="navMenuLG">
        <btn class="LGnavBtn" id="projectScroll">Projects</btn>
        <btn class="LGnavBtn" id="contactScroll">Contact</btn>
        <btn class="LGnavBtn" id="resourceScroll">Resources</btn>
    </nav>
</header>