<header id="navBar">
    <h1 id="logo">John Mateer</h1>
    <nav id="navMenu">
    <a class="navBtn" id="githubBtn" href="https://github.com/jjmateer" style="background-image: url(images/GH-logo.png);">
      </a>

    <a class="navBtn" id="resumeBtn"
      href="https://docs.google.com/document/d/1dpvMnqxI77f1lAk93FD2M1fggO8PSss92w7QOjpWyg8/edit?usp=sharing" style="background-image: url(images/resumeicon.png);">
      </a>

    <a class="navBtn" id="linkedinBtn" href="https://linkedin.com/in/john-mateer" style="background-image: url(images/linkedin.png);">
      </a>
    </nav>
</header>