<header id="navBar">
    <h1 id="logo">John Mateer</h1>
    <nav id="navMenu">
        <btn class="navBtn" id="projectScroll">Projects</btn>
        <btn class="navBtn" id="contactScroll">Contact</btn>
        <btn class="navBtn" id="resourceScroll">Resources</btn>
    </nav>
</header>